#external-p {
	color: orange;
}

* {
	font-family: monospace;
	font-size: 15px;
}

#uppercase {
	text-transform: uppercase;
}

.bgcolor {
	background-color: red;
}

.border {
	border: 1px solid red;
}

img + ul {
	list-style-type: ordered;
}

#landing img {
	height: 120px;
	width: 120px;
	border-radius: 150px;
}

h4 ~ p {
	text-align: center;
}

body > section > ul > li {
	letter-spacing: 5px;
}